PORT=5000
MONGO_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5174
ADMIN_EMAIL=japhet@example.com
ADMIN_PASSWORD=Admin@1234
NODE_ENV=development
